.appdata
.coverage
.debug
.env
.logs
.package
.pytest_cache
.resources
.server
__pycache__
scripts/upload.py
scripts/docker/krita-ai-diffusion
scripts/docker/ComfyUI
scripts/downloads
service
tests/data/*.safetensors
tests/server
tests/results
tests/benchmark
krita_ai_diffusion*.zip
TODO.md
.idea
venv
.DS_Store
bin
lib
pyvenv.cfg
ai_diffusion/styles/anime-noobai-xl.json
ai_diffusion/styles/cinematic-photo-xl.json
ai_diffusion/styles/cinematic-photo.json
ai_diffusion/styles/comic-anime.json
ai_diffusion/styles/digital-artwork-xl.json
ai_diffusion/styles/digital-artwork.json
ai_diffusion/styles/flux-schnell.json
ai_diffusion/styles/flux.json
Krita AI project 01.06.tws
README.md
Krita AI project Jue 2025.tws
Krita AI project July 2025.tws
comfyui-tooling-nodes/
